torch>=2.0.0
torch_geometric
transformers
scikit-learn
pandas
numpy
shap
captum
networkx
matplotlib
seaborn
tqdm
requests
biopython
evaluate
datasets
accelerate
chembl_webresource_client
fastapi
uvicorn
xgboost
python-multipart
